<?xml version="1.0" encoding="UTF-8"?>
<web-app	xmlns="http://java.sun.com/xml/ns/javaee"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
			version="2.5">
  
  	<display-name>Nicobot Web Interface</display-name>

	<context-param>
		<param-name>webapp-composer-class</param-name>
		<param-value>com.st.nicobot.web.composer.NicoWebappComposer</param-value>
	</context-param>

	<filter>
		<filter-name>picoFilter</filter-name>
		<filter-class>org.picocontainer.web.PicoServletContainerFilter$ServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>picoFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.st.nicobot.web.listener.ApplicationListener</listener-class>
	</listener>
  	
  	<servlet>
  		<servlet-name>hello</servlet-name>
  		<servlet-class>com.st.nicobot.web.servlet.Hello</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>hello</servlet-name>
  		<url-pattern>/hello/</url-pattern>
  	</servlet-mapping>
  	
</web-app>